<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.malex.cordova.plugin.webview-reloader" version="1.0.6">
    <name>WebView Reloader</name>
    <description>Cordova WebView Reloader Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,reloader,reload,ios</keywords>
    <js-module src="www/WebViewReloader.js" name="WebViewReloader">
        <clobbers target="WebViewReloader" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WebViewReloader">
                <param name="ios-package" value="WebViewReloader"/>
            </feature>
        </config-file>
        <header-file src="src/ios/WebViewReloader.h" />
        <source-file src="src/ios/WebViewReloader.m" />
    </platform>
</plugin>
